.userCard{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-evenly;
  border:2px solid black;
  text-align: center;
}
 #userHeader{
  max-width: 1000px;
  margin: 0 auto; 
 }

 #userComponent{
   margin-top: 20px;
 }