.nav-bar {
  background-color: #fc3f4a;
  border-bottom: #cccccc solid 0.01rem;
}

.nav-links {
  color: #fff;
}
.nav-links:hover {
  color: #fbce2f;
  font-weight: bolder;
}

 button.navbar-toggler {
  background: #fbce2f;
} 
nav {
  padding: 200px;
}
nav.navbar-light {
  padding: 0 80px 0 50px;
}
.col-md-4 {
  text-align: left;
}
a.nav-links {
  margin-top: 60px;
}
img.rounded-circle {
  margin-top: 15px;
  height: 120px;
  width: 120px;
  padding: 20px;
}
