#form {
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-content: center;
}

#logo {
  text-align: center;
  padding-bottom: 30px;
}
div.form-logo.col-md-4.col-6{
  display: flex;
  margin:auto;
  margin-bottom: 25px;
  


}

button.btn.btn-link{
  margin-top: 60px;  
  border: none;
}

button.btn.btn-link:hover {
  color: #fbce2f;
  text-decoration: none; 
  border: none;
}
.form-table{
  display: flex;
  
}

input#formBasicEmail.form-control ,
input#validationCustomUsername.form-control,
input#formBasicPassword.form-control
 {
   text-align: center;
  border: 1px solid rgba(0, 0 ,0, 0.5);
  font-size: 1rem;
  padding: 4px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

}
button.btn.btn-primary{
  margin-top:20px;
}

