#groupContent {
  max-width: 1000px;
  margin: 0 auto;
}
#groupContent h5 {
  margin-left: 20px;
  margin-bottom: -5px;
  margin-top: 20px;
}

#grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.groupLink {
  flex-basis: 30%;
  margin-right: 20px;
}

.groupLink img {
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
  height: 200px;
  border: gray 1px solid;
}

#groupTitle {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .groupLink {
    flex-basis: 80%;
  }
  .groupLink img {
    height: 75%;
  }

  #groupTitle {
    font-size: 30px;
  }
}
